# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Ignore variable environments
/.env.prod
/.env.test
/src/config/firebase-service-account-prod.json
/src/config/firebase-service-account-test.json
/.prettierrc
/.prettierignore
