# Node modules
/node_modules/

# Environment files
.env.prod
.env.test

# Firebase service account keys
/src/config/firebase-service-account-prod.json
/src/config/firebase-service-account-test.json

# Documentation
/docs/

# Logs
*.log

# Build outputs
/dist/
/build/

# IDE specific files
/.idea/

# OS specific files
.DS_Store
Thumbs.db
